html {
    scroll-behavior: smooth;
}


body{
    background-color: rgb(1, 1, 24);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 50px;
    padding-right: 100px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: rgb(1, 1, 24);
    z-index: 1000;

    box-sizing: border-box; 
}

.logo {
    color: aliceblue;
    font-size: 30px;
}
.ul {
    display: flex;
    justify-content:space-around;
    gap: 50px;    
}
ul a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}
ul a:hover{
    
    color:  #2e62b8;
}
.section-1{
    display: flex;
    color: aliceblue;
}
.section-1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.part-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 150px;
    font-size: 25px;
    line-height: 25px;
    padding-left: 150px;
}
.part-1 h2{
    font-size: 30px;
}
.part-1 h3{
    color: #2e62b8;
    font-size: 25px;
}
.part-1 p{
    font-size: 15px;
}
.icons{
    display: flex;
    gap: 20px;
}
.icons a {
    color: #2e62b8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2e62b8;
    text-decoration: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.icons a:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 50px;
    width: 170px; 
    border-radius: 50px;
    
    color: #ffffff; 
    border: 2px solid #2e62b8;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.5px;
    
    
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.resume:hover {
    background-color: #2e62b8;
    color: white;
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.part-2{
    padding: 150px;
    

}
.part-2 img{
    border-radius: 50%;
    height: 350px;
}
.part-2 img:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
}

.section-1 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 80px;
}

.section-2 {
    min-height: 100vh;
    display: flex;
    padding: 80px;
    background-color: #020617; 
    color: white;
    
}

.left-2 {
    flex: 1;
    padding-top: 100px;
}
.left-2 img {
    border-radius: 50%;
    height: 350px;
}

.right-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 100px;
    padding-top: 150px;
    
}
.heading {
    font-size: 50px;

}
.heading span {
    color: #2e62b8;

}
.top {
    font-size: 30px;
}
.desc{
    font-size: 15px;
}
p, h1, h2, h3 {
    margin: 0;
}
.left-2 img{
    border-radius: 50%;
    height: 350px;
}
.left-2 img:hover {
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
}

/* SECTION-3 */
.section-3 {
    min-height: 100vh;
    background-color: #020617;
    padding: 100px 80px;
    color: white;
    text-align: center;
}


.services-heading {
    font-size: 45px;
    margin-bottom: 60px;
}

.services-heading span {
    color: #2e62b8;
}


.services-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}


.service-card {
    background-color: #1e293b;
    width: 300px;
    padding: 40px 25px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;   
    gap: 20px;

    transition: all 0.3s ease;
}


.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(46, 98, 184, 0.3);
}

.service-card h3,
.service-card p {
    text-align: center;
}


.service-card i {
    font-size: 50px;
    color: #2e62b8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.service-card h3 {
    font-size: 22px;
}


.service-card p {
    font-size: 14px;
    line-height: 1.6;
    color: #cbd5f5;
}


.service-btn {
    margin-top: 10px;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #2e62b8;
    color: #020617;
    text-decoration: none;
    font-weight: 600;
    align-self: center;
    transition: 0.3s;
}

.service-btn:hover {
    background-color: #2e62b8;
    color: white;
}


/* SECTION-4 */
.section-4 {
    min-height: 100vh;
    background-color: #020617;
    padding: 100px 80px;
    color: white;
}


.skills-heading {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
}

.skills-heading span {
    color: #2e62b8;
}

.skills-container {
    display: flex;

    gap: 80px;
    justify-content: center;
}


.skills-column {
    width: 80%;
}


.skill {
    margin-bottom: 30px;
}


.skill-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 8px;
}


.skill-bar {
    width: 100%;
    height: 6px;
    background-color: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background: linear-gradient(90deg, #38bdf8, #2e62b8);
    border-radius: 10px;
}


.python { width: 90%; }
.django { width: 80%; }
.sql { width: 90%; }
.c { width: 85%; }

.html { width: 95%; }
.css { width: 95%; }
.js { width: 75%; }
.tailwind { width: 80%; }

/* SECTION-5 */
.section-5 {
    min-height: 100vh;
    background-color: #020617;
    padding: 100px 80px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Heading */
.contact-heading {
    text-align: center;
    font-size: 45px;
    margin-bottom: 50px;
}

.contact-heading span {
    color: #38bdf8;
}

/* Form */
.contact-form {
    max-width: 800px;
    margin: 0 auto;
}

/* Input rows */
.contact-row {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
}

/* Inputs & textarea */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    background-color: #1e293b;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
    margin-bottom: 30px;
}

/* Button */
.contact-btn {
    display: block;
    margin: 0 auto;
    padding: 12px 40px;
    border-radius: 30px;
    border: none;
    background-color: #38bdf8;
    color: #020617;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    background-color: #2e62b8;
    color: white;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.7);
}

/* FOOTER */
.footer {
    background-color: #020617;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #cbd5f5;
    font-size: 14px;
}

/* Scroll to top button */
.scroll-top {
    background-color: #38bdf8;
    color: #020617;
    width: 40px;
    height: 40px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    transition: 0.3s;
}

.scroll-top:hover {
    background-color: #2e62b8;
    color: white;
    transform: translateY(-5px);
}
